[mysqld]
server-id=1
port=3306
bind_address=0.0.0.0

back_log=300
thread_handling=pool-of-threads
thread_cache_size=100
innodb_buffer_pool_size=1G
aria_pagecache_buffer_size=256M

gtid_strict_mode=True
replicate_wild_ignore_table=mysql.%
binlog_format=ROW
log-slave-update=True
master-info-repository=TABLE
relay-log-info-repository=TABLE
sync-master-info=1
slave-parallel-threads=2
master-verify-checksum=CRC32
slave-sql-verify-checksum=1
binlog-rows-query-log-events=1
log-bin=/var/lib/mysql/mysql-bin
report-host=127.0.0.1
report-port=3306
